{% extends "base.html" %}

{% block main %}
  <div class="mdl-cell mdl-cell--4-col mdl-grid">
    <div class="mdl-card mdl-cell--12-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Today Summary</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div id="today_summary" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      </div>
    </div>
    <div class="mdl-card mdl-cell--12-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Log</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-grid">
    <div class="mdl-card mdl-cell--12-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Timesheet view</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <div id="all_time_line" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      </div>
    </div>
  </div>
{% endblock main %}


{% block js %}

  <script type="text/javascript">
    {% include 'js/resize_plots.js' %}

    function replace_progress() {
      $("#progress").replaceWith('');
      {% for key in divs.keys() %}
        $("#{{ key }}").replaceWith('{{ divs[key] | safe }}');
      {% endfor %}
    }

    // Once retrieved bokeh: replace the progress bars, run bokeh script, initial resize of plots
    bokehJS.done( function () {
      replace_progress();
      {{ script|safe }}
      resize_plots();
      {% include 'js/timesheet.js' %}
    });
  </script>

{% endblock js %}
