{% extends "base.html" %}

{% block main %}
<div class="mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
  <div class="mdl-card mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Today Summary</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
  </div>
  <div class="mdl-card mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Log</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
  </div>
</div>
<div class="mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
  <div class="mdl-card mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Timesheet view</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
  </div>
</div>
<!--
<div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">World Clock & Meeting Planner</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
  </div>
  </div>-->
{% endblock main %}

{% block js %}
{% endblock js %}
