{% extends 'main.html' %}

{% block main %}
  <div class="mdl-cell mdl-cell--4-col mdl-grid">
    {% for category in today_categories %}
    {% set cat_bar = [category, 'bar']|join('_') %}
    {% set cat_table = [category, 'table']|join('_') %}
    <div class="mdl-cell mdl-cell--7-col">
          {{ today_divs[cat_bar] | safe }}
    </div>
    <div class="mdl-cell mdl-cell--5-col">
          {{ today_divs[cat_table] | safe }}
    </div>
    {% endfor %}
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-grid">
      <div id="all_time_line" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
{% endblock main %}

