{% extends 'main.html' %}

{% block main %}
  <div class="mdl-grid">
    <div class="today-summary-wrapper mdl-cell mdl-cell--4-col">
        <span id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></span>
        {% for category in today_categories %}
          {% set cat_bar = [category, 'bar']|join('_') %}
          {% set cat_table = [category, 'table']|join('_') %}
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                  {{ divs[cat_bar] | safe }}
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
                  {{ divs[cat_table] | safe }}
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <div id="all_time_line" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div id="detail_time_line" class""></div>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div id="time_log" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      {% include 'timesheet.html' %}
    </div>
  </div>
{% endblock main %}
