<div id="timesheet">
  <p>
    <span id="one_week_before">{{ one_week_before.strftime('%a, %d %b %Y') }}</span> - <span id="today">{{ today.strftime('%a, %d %B %Y') }}</span>
    <a id="timesheet_submit"  
      href="/timesheet/?start={{ one_week_before.strftime('%Y-%m-%d') }}" 
      class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">arrow_forward</i>
    </a>
  </p>
  {{ weekly_timesheet | safe }}
  <script>
    if (typeof($) !== 'undefined') {
      {% include 'js/timesheet.js' %}
    }
  </script>
</div>
